body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #4285F4; /* Colores estilo Google */
}

.navbar-brand {
    color: white;
}

.banner-images {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.banner-images img {
    margin: 0 10px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.response-img {
    display: none;
    margin-top: 20px;
    width: 200px;
}
.navbar-dark .navbar-toggler-icon {
    background-color: white; /* Fondo blanco para el icono del menú hamburguesa */
    border: 1px solid white; /* Borde blanco */
}

/* Estilo adicional para resaltar el icono del menú hamburguesa en fondos oscuros */
.navbar-toggler {
    border-color: white; /* Borde blanco alrededor del botón */
}

.navbar-dark .navbar-toggler-icon {
    background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxOCI+PHBhdGggZD0iTTE4IDEwQzExLjY1NyAxMCA3LjM2MyAxMCAxIDExLjY1NyAxMCAxOC4zMzciIHN0cm9rZT0iIzAwMDAwMCIgc3Ryb2tlLXdpZHRoPSIxIiBzdHJva2UtbGluZWNhcD0ibm9uZSIvPjwvc3ZnPg==') no-repeat center center; /* Icono SVG blanco */
}